body {
  font-family: "Geologica", sans-serif;
  color: #116a7b;
  padding: 0;
  margin: 0;
  background-color: #ece5c7;
}

.header {
  padding: 100px 0px;
}

h1 {
  font-size: 48px;
  text-align: center;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.one-line {
  font-size: 24px;
  text-align: center;
}

.almost {
  font-style: italic;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

.quote {
  background-color: #cdc2ae;
  width: 150px;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: 200px;
  border: dotted #116a7b;
}

.about {
  background-color: #c2dedc;
  padding: 100px 50px;
  font-size: 24px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  margin-top: 100px;
  display: grid;
  gap: 10px;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
}

.cred-box {
  display: flex;
  flex-direction: column;
  background-color: #c2dedc;
  padding: 30px;
  border-radius: 10px;
  border: dotted #116a7b;
}

.cred-title {
  font-weight: 900;
  font-size: 24px;
}

h2 {
  font-size: 36px;
}

img {
  border-radius: 10px;
}

.facts-header {
  display: flex;
  padding: 100px 50px 0px 50px;
  justify-content: space-around;
}

.facts {
  padding: 100px;
  width: 80%;
  height: 400px;
  display: grid;
  gap: 5px;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: repeat(4, 1fr);
}

.facts > * {
  background-color: #c2dedc;
  border: dotted #116a7b;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.one {
  grid-column: span 2;
}

.two {
  grid-area: 2 / 2 / 3 / 4;
}

.three {
  grid-area: 3 / 1 / 4 / 3;
}

.four {
  grid-area: 4 / 2 / 5 / 4;
}

.contact {
  text-align: center;
  padding: 50px;
  background-color: #c2dedc;
}
