body {
  font-family: "Geologica", sans-serif;
  color: #116a7b;
  padding: 0;
  margin: 0;
  background-color: #ece5c7;
}

.header {
  padding: 100px 0px;
}

h1 {
  font-size: 48px;
  text-align: center;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

.one-line {
  font-size: 24px;
  text-align: center;
}

.almost {
  font-style: italic;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

.quote {
  background-color: #cdc2ae;
  width: 150px;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: 200px;
}

.about {
  background-color: #c2dedc;
  padding: 100px 50px;
  font-size: 28px;
  text-align: center;
}

.info {
  margin: 100px;
  display: grid;
  gap: 10px;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
}

.cred-box {
  display: flex;
  flex-direction: column;
  background-color: #c2dedc;
  padding: 30px;
  border-radius: 10px;
}

.cred-title {
  font-weight: 900;
  font-size: 24px;
}
